<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo=Suite">	
	<!-- <listeners> 
		<listener class-name="com.uprr.ui.framework.testlistener"/>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
      	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
 	</listeners> -->

	<test name="Round1">
		<classes>
			<class name="testng.AnnotationTestNG"/>
			<class name="testng.SecondAnnotationTestNG"/>
		</classes>
	</test>
</suite> 

